<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Noveled</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body id="body-1">
        <header>
            <nav>
                <div id="div-nav" class="div-nav">
                    <div id="div-nav__logo" class="nav-logo">
                        <a href="#" id="a-logo"><img src="logo/noveled-high-resolution-logo-transparent.png" alt="LOGO"></a>
                    </div>
                    <div id="div-nav__items" class="nav-items">
                        <a href="#">Browse</a>
                        <a href="#">Library</a>
                        <a href="#">Popular</a>
                        <a href="#" onclick=location.href="/login">Login</a>  
                        <a href="#" onclick=location.href="/register">Sign in</a>
                    </div>
                </div>
            </nav>
        </header>
    </body>
</html>