* {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body#body-1 {
    background-image: url(img/abstract_book_reflex.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.div-nav {
    background-color: rgba(248, 7, 248, 0.7); /* rgb(2, 2, 172) */
    border-bottom: 2px solid black;
}

.div-nav a {
    text-decoration: none;
    display: inline-block;
}

.nav-logo {
    height: 60px;
    line-height: 60px;
    display: inline-block;
    margin-left: 40px;
}


#a-logo {
    height: 60px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.nav-logo img {
    height: 40px;
}

.nav-items {
    height: 60px;
    float: right;
    margin: 0 20px;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.nav-items a {
    margin: 0 20px;
    color: white; /* black */
    font-size: 20px;
    padding: 10px;
    transition: 0.4s ease;
    border-radius: 10px;
   /*  font-weight: bolder; */
}

.nav-items a:hover {
    background-color: black;
    color: white;
}

/* Contenido home */

#section1 {
    top: 20px;
    margin: 5% 5%;
    color: white;

    padding: 2%;
    border: 3px solid white;
}

#section2 {
    top: 20px;
    margin: 5% 5%;
    color: white;

    padding: 2%;
    border: 3px solid white;
}



/* ___________________________________________________ REGISTER _____________________________________________________ */

body#body-2 {
    background-image: url(img/abstract_book_reflex.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

/* form-container */

.form-container {
    width: 100%;
    height: 400px;
    
    display: flex;
    justify-content: center;

    margin-top: 100px;
    
}

.form {
    max-width: 800px;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07)
;
}

.form h2 {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.form div {
    margin: 30px 30px 10px 30px;
    display: block;
    max-width: 500px;
}

.form input {
    width: 350px;
    border-radius: 7px;
    height: 30px;
    margin-top: 5px;
}

.submit-div {
    text-align: center;
    height: auto;
}


.submit-div input {
    height: 40px;
    cursor: pointer;
}

